{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Despachar{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class='flash'>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <hr>
    <div class="despachar">        
        <form action="{{ path('edit_retiro', { 'id' : retiro.id}) }}" method="post">
        <div class="formcodigo">
            {{ form_row(formStock.codigo) }}
                </form>
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Producto</th>
                            <th>Stock Restante</th>
                            <th>Retira</th>
                            <th>Cliente</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                            <tr>
                                <td>{{ stock.stock.numero }}</td>
                                <td>{{ stock.stock.producto.nombre }}</td>
                                <td>{{ stock.stock.actual | number_format(2, '.') }}</td>
                                <td>{{ stock.cantidad }}</td>
                                <td>{{ form_widget(formStock[stock.id])}}</td>
                                <td><a href="{{ path('edit_retiro_stock', { 'id' : stock.id}) }}">Editar</a>
                                <a href="#" onclick="confirmar('¿Esta seguro de querer borra?','{{ path('eliminar_retiro_stock', { 'id' : stock.id}) }}')">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>                    
                </table>               
            </div>
                <div class="botones">
                    <input class="btn btn-success" type="submit" value="Guardar"  />
                    <input class="btn btn-info" type="submit" name="imprimir" value="Confirmar" onclick="confirmar('Si confirma no podra editar mas este Envio, ¿esta seguro?', '{{ path('confirmar_retiro', { 'id' : retiro.id}) }}')"  />
                    
                </div>
        </div>    
    </div>
    
{% endblock %}
    

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(formStock) }}
    <script>
        function setFocus()
        {
            document.getElementById("form_codigo").focus();
        }
        
        
    
     </script>
{% endblock %}