{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Despachar{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class='flash'>
            {{ flashMessage }}
        </div>
    {% endfor %}
    <hr>
    <div class="despachar">
        <div class="form">
                <form action="{{ path('edit_retiro', { 'id' : retiro.id}) }}" method="post">
                {{ form_row(form.nroOrden) }}
                {{ form_row(form.cliente) }}
                {{ form_row(form.empresa) }}
                {{ form_row(form.transportista) }}
                {{ form_row(form.patente) }}
                <div class="botones">
                    <table>
                        <tr>
                            <td><input class="guardar" type="submit" value="Guardar"  /></td>
                            <td><input class="imprimir" type="button" name="imprimir" value="Confirmar" onclick="confirmar('Si confirma no podra editar mas este Envio, ¿esta seguro?', '{{ path('confirmar_retiro', { 'id' : retiro.id}) }}')"  /></td>
                        </tr>
                    </table>
                </div>
            
        </div>
        <div class="formcodigo">
            {{ form_row(form.codigo) }}
                </form>
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Producto</th>
                            <th>Stock Restante</th>
                            <th>Retira</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in stocks %}
                            <tr>
                                <td>{{ stock.stock.id }}</td>
                                <td>{{ stock.stock.producto.nombre }}</td>
                                <td>{{ stock.stock.actual }}</td>
                                <td>{{ stock.cantidad }}</td>
                                <td><a href="{{ path('edit_retiro_stock', { 'id' : stock.id}) }}">Editar</a>
                                <a href="#" onclick="confirmar('¿Esta seguro de querer borra?','{{ path('eliminar_retiro_stock', { 'id' : stock.id}) }}')">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
    
{% endblock %}
    

{% block javascripts %}
    <script>
        function setFocus()
        {
            document.getElementById("nossis_nossisbundle_retiro_codigo").focus();
        }
        
        
    
     </script>
{% endblock %}