{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Despachar{% endblock %}

{% block body %}
    <div class="links">
        <a class="ver" href="{{ path('list_retiro') }}">Ver Despachados</a>
    </div>
    <hr>
    
    <div class="despachar">
        
        <div class="form">
                <form action="{{ path('new_retiro') }}" method="post">
                {{ form_row(form.nroOrden) }}
                {{ form_row(form.cliente) }}
                {{ form_row(form.empresa) }}
                {{ form_row(form.transportista) }}
                {{ form_row(form.patente) }}
                <input class="submit" type="submit" value="Guardar"  />
            
        </div>
        <div class="formcodigo">
            {{ form_row(form.codigo) }}
                </form>
            <div class="datagrid">
                <table>
                    <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Producto</th>
                            <th>Stock Restante</th>
                            <th>Retira</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>    
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function setFocus()
        {
            document.getElementById("nossis_nossisbundle_retiro_codigo").focus();
        }
    
     </script>
{% endblock %}