{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Mostrar{% endblock %}

{% block body %}
    <hr>
  <div class="show">
        <div class="grid">

            <table>
                <thead>
                    <tr>
                        <th>Numero:</th>
                        <td  colspan="4">{{ retiro.id }}</td>                
                    </tr>
                    <tr>
                        <th>Fecha Salida:</th>
                        <td  colspan="4">{{ retiro.fechasalida | date('d/m/Y H:i a') }}</td>                
                    </tr>
                    <tr>
                        <th>Numero de Orden:</th>
                        <td  colspan="4">{{ retiro.nroOrden }}</td>                
                    </tr>
                    <tr>
                        <th>Empresa:</th>
                        <td  colspan="4">{{ retiro.empresa }}</td>                
                    </tr>
                    <tr>
                        <th>Transportista:</th>
                        <td  colspan="4">{{ retiro.transportista }}</td>                
                    </tr>
                    <tr>
                        <th>Patente:</th>
                        <td  colspan="4">{{ retiro.patente }}</td>                
                    </tr>
                    <tr>
                        <th>Forma Carga:</th>
                        <td  colspan="4">{{ retiro.formaCarga }}</td>                
                    </tr>
                    <tr>
                        <th>Retiro:</th>
                        <td colspan="4"></td>                
                    </tr>
                    {% for stock in retiro.stocks %}
                        <tr>
                            <th></th>
                            <td>{{ stock.cantidad }}</td><td> {{ stock.stock.producto.nombre }}</td><td>{{stock.cliente}}</td> <td><a href="{{ path('show_stock', {'id':stock.stock.id})}}">Ver</a></td>                
                        </tr>
                    {% endfor %}
                </thead>
                <tbody>

                </tbody>
             </table>
        </div>
     {% if retiro.confirmado %}
        <a class="pdf" href="{{ path('imprimir_retiro', { 'id' : retiro.id}) }}">Imprimir</a>
     {% endif  %}
  </div>
{% endblock %}