<pdf>
    <dynamic-page>
        
        <table>
            <tr>
                <td width="100px" border-color="white">
                    <img src="{{ pdf_image('logo.jpg') }}" />
                </td>
                <td border-color="white">
                    <div text-align="center">
                        <p line-height="-1px">
                            Elaboradores de Fécula de mandioca ALDEMA <br></br>
                            INAC 6084 del 16-05-1967 – Dir. Prov. Coop. 102 del 04-07-1966 <br></br>
                            <b>Planta Industrial:</b> Ruta Nac. 12 – TEL.: 03743-491153 – 3334 GARUHAPE – Misiones <br></br>
                            <b>Administración:</b> Av. 9 de Julio y Asunción – TEL/Fax: 03743-420204/042 <br></br>
                            E-mail: coopsalberto@prico.com.ar – www.coopsanalberto.com.ar <br></br>
                            3334 PUERTO RICO – Misiones
                        </p>
                    </div>
                </td>
            </tr>
        </table>    
        
        <table margin-top="30px;" margin-left="20px" margin-right="20px">
            <tr>
                <td><b>Producto</b></td>
                <td><b>Palets</b></td>
                <td><b>Unidades</b></td>
            </tr>
            {% set totalUnidades = 0 %}{% set totalPalets = 0 %}
            {% for entity in entities %}
                <tr>
                    <td>{{entity.nombre}}</td>
                    <td>{{entity.totalpalets}}</td>
                    <td>{{entity.total}}</td>
                </tr>
                {% set totalUnidades = totalUnidades + entity.total %}
                {% set totalPalets = totalPalets + entity.totalpalets %}
            {% endfor %}
            
        </table>
        <table margin-top="30px;" margin-left="20px" margin-right="20px">
            <tr>
                <td background-color="gray"><h4><b>Total de Palets</b></h4></td>
                <td background-color="gray"><h4><b>{{totalPalets}}</b></h4></td>
            </tr>
            <tr>
                <td background-color="gray"><h4><b>Total de Unidades</b></h4></td>
                <td background-color="gray"><h4><b>{{totalUnidades}}</b></h4></td>
            </tr>            
        </table>
    </dynamic-page>
</pdf>