<pdf>
    <dynamic-page page-size="a4-landscape">
        
        <table>
            <tr>
                <td width="100px" border-color="white">
                    <img src="{{ pdf_image('logo.jpg') }}" />
                </td>
                <td border-color="white">
                    <div text-align="center">
                        <p line-height="-1px">
                            Elaboradores de Fécula de mandioca ALDEMA <br></br>
                            INAC 6084 del 16-05-1967 – Dir. Prov. Coop. 102 del 04-07-1966 <br></br>
                            <b>Planta Industrial:</b> Ruta Nac. 12 – TEL.: 03743-491153 – 3334 GARUHAPE – Misiones <br></br>
                            <b>Administración:</b> Av. 9 de Julio y Asunción – TEL/Fax: 03743-420204/042 <br></br>
                            E-mail: coopsalberto@prico.com.ar – www.coopsanalberto.com.ar <br></br>
                            3334 PUERTO RICO – Misiones
                        </p>
                    </div>
                </td>
            </tr>
        </table>
                <br/><br/>
                <h2>Movimiento Historico de Productos</h2>
        <table margin-left="20px" margin-right="20px">
            <tr>
                <td width="50%"><b>Producto</b></td>
                <td><b>Ingresos</b></td>
                <td><b>Despachos</b></td>
                <td><b>Devoluciones</b></td>
                <td><b>Bajas</b></td>
                <td><b>Total</b></td>
            </tr>
           {% for entity in entities %}
                {% set total = 0 %}
                <tr>
                    <td border-color="black">{{entity.producto}} </td>
                    <td border-color="black">{{entity.ingresado}} {% set total = total + entity.ingresado %}</td>
                    <td border-color="black">{{entity.despachos}} {% set total = total - entity.despachos %}</td>
                    <td border-color="black">{{entity.devoluciones}} {% set total = total + entity.devoluciones %}</td>
                    <td border-color="black">{{entity.bajas}} {% set total = total - entity.bajas %}</td>
                    <td border-color="black">{{ total }}</td>                    
                </tr>
            {% endfor %}
            
        </table>
            <h6 text-align="right">Impreso el {{ 'now' |date('d-m-Y') }} </h6>
    </dynamic-page>
</pdf>