{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Listar Stock Actual por Lote{% endblock %}

{% block body %}
    
    <hr>
    
    <div class="form">
        <form action="{{ path('stock_actual_lote_listado_general') }}" method="post">
        {{ form_rest(form) }}
        <input class="submit" type="submit" value="Filtrar"  />
    </div>
    <br /><br /><br />
    <div class="grid">
        <table>
            <tr>
                <th>Lote</th>
                <th>Nombre</th>
                <th>Palets</th>
                <th>Unidades</th>
            </tr>
            {% set total = 0 %}{% set palets = 0 %}
            {% for entity in entities %}
                <tr>
                    <td>{{entity.lote}}</td>
                    <td>{{entity.nombre}}</td>
                    <td>{{entity.palets}}</td>
                    <td>{{entity.total}}</td>
                    {% set total = total + entity.total %}
                    {% set palets = palets + entity.palets %}
                </tr>
            {% endfor %}
            
        </table>
        
        <table>
            <tr>
                <th><h4>Total de Palets</h4></th>
                <th><h4>{{palets}}</h4></th>
            </tr>
            <tr>
                <th><h4>Total de Unidades</h4></th>
                <th><h4>{{total}}</h4></th>
            </tr>
        </table>
        <a class="pdf" href="{{ path('imprimir_stock_actual_lote_listado_general') }}">Imprimir</a>
    </div>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}
    