{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Listar Movimiento por Producto{% endblock %}

{% block body %}
    <h3>Listado de Movimiento de Productos del Deposito desde {{desde |date('d/m/y')}} hasta {{ hasta | date ('d/m/y')}}</h3>
    <hr>
    <div class="grid">
        <table>
            <tr>
                <th>Producto</th>
                <th>Ingresos</th>
                <th>Despachos</th>
                <th>Fraccionado</th>
                <th>Devoluciones</th>
                <th>Bajas</th>
                <th>Total</th>
            </tr>
            {% for  key, entity in entities %}
                {% set total = 0 %}
                <tr>
                    <td>{{key}} </td>
                    <td>{{entity['ingresos']}} {% set total = total + entity['ingresos'] %} </td>
                    <td>{{entity['despachos']}} {% set total = total - entity['despachos'] %}</td>
                    <td>{{entity['fraccionado']}} {% set total = total - entity['fraccionado'] %}</td>
                    <td>{{entity['devolucion']}} {% set total = total + entity['devolucion'] %}</td>
                    <td>{{entity['bajas']}} {% set total = total - entity['bajas'] %}</td>
                    <th>{{ total }}</th>
                </tr>                
            {% endfor %}
            
        </table>
        
        <a class="pdf" href="{{ path('imprimir_movimiento_producto_fecha_listado_general')}}">Imprimir</a>
    </div>


    
{% endblock %}