{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Listar Stock Actual por Unidades{% endblock %}

{% block body %}
    
    <hr>
    <h3>Listado de Stock Actual por producto desde {{desde |date('d/m/y')}} hasta {{ hasta | date ('d/m/y')}}</h3>
    <div class="grid">
        <table>
            <tr>
                <th>Producto</th>
                <th>Palets</th>
                <th>Unidades</th>
            </tr>
            {% set totalUnidades = 0 %}{% set totalPalets = 0 %}
            {% for entity in entities %}
                <tr>
                    <td>{{entity.nombre}}</td>
                    <td>{{entity.palets}}</td>
                    <td>{{entity.total}}</td>
                </tr>
                {% set totalUnidades = totalUnidades + entity.total %}
                {% set totalPalets = totalPalets + entity.palets %}
            {% endfor %}
            
        </table>
        
        <table>
            <tr>
                <th><h4>Total de Palets</h4></th>
                <th><h4>{{totalPalets}}</h4></th>
            </tr>
            <tr>
                <th><h4>Total de Unidades</h4></th>
                <th><h4>{{totalUnidades}}</h4></th>
            </tr>
        </table>
        <a class="pdf" href="{{ path('imprimir_stock_actual_producto_fecha_listado_general') }}">Imprimir</a>
    </div>

    
{% endblock %}

    