<pdf>
    <dynamic-page>
        
        <table>
            <tr>
                <td width="100px" border-color="white">
                    <img src="{{ pdf_image('logo.jpg') }}" />
                </td>
                <td border-color="white">
                    <div text-align="center">
                        <p line-height="-1px">
                            Elaboradores de Fécula de mandioca ALDEMA <br></br>
                            INAC 6084 del 16-05-1967 – Dir. Prov. Coop. 102 del 04-07-1966 <br></br>
                            <b>Planta Industrial:</b> Ruta Nac. 12 – TEL.: 03743-491153 – 3334 GARUHAPE – Misiones <br></br>
                            <b>Administración:</b> Av. 9 de Julio y Asunción – TEL/Fax: 03743-420204/042 <br></br>
                            E-mail: coopsalberto@prico.com.ar – www.coopsanalberto.com.ar <br></br>
                            3334 PUERTO RICO – Misiones
                        </p>
                    </div>
                </td>
            </tr>
        </table>    
        
        <h3 margin-top="30px;">Listado de Stock Actual por lote desde {{desde |date('d/m/y')}} hasta {{ hasta | date ('d/m/y')}} {% if producto != null %} del producto {{producto.nombre}}{% endif %}</h3>
        <table margin-top="10px;" margin-left="20px" margin-right="20px">
            <tr>
                <td><b>Lote</b></td>
                <td><b>Nombre</b></td>
                <td><b>Palets</b></td>
                <td><b>Unidades</b></td>
            </tr>
            {% set total = 0 %}{% set palets = 0 %}
            {% for entity in entities %}
                <tr>
                    <td border-color="black">{{entity.lote}}</td>
                    <td border-color="black">{{entity.nombre}}</td>
                    <td border-color="black">{{entity.palets}}</td>
                    <td border-color="black">{{entity.total}}</td>
                </tr>
                {% set total = total + entity.total %}
                {% set palets = palets + entity.palets %}
            {% endfor %}
            
        </table>
        <table margin-top="30px;" margin-left="20px" margin-right="20px">
            <tr>
                <td background-color="gray"><h4><b>Total de Palets</b></h4></td>
                <td background-color="gray"><h4><b>{{palets}}</b></h4></td>
            </tr>
            <tr>
                <td background-color="gray"><h4><b>Total de Unidades</b></h4></td>
                <td background-color="gray"><h4><b>{{total}}</b></h4></td>
            </tr>
        </table>
    </dynamic-page>
</pdf>