{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Listar Stock Actual por Lote {% endblock %}

{% block body %}
    
    <h3>Listado de Stock Actual por lote desde {{desde |date('d/m/y')}} hasta {{ hasta | date ('d/m/y')}}</h3>
    <hr>
    <div class="grid">
        <table>
            <tr>
                <th>Lote</th>
                <th>Nombre</th>
                <th>Palets</th>
                <th>Unidades</th>
            </tr>
            {% set total = 0 %}{% set palets = 0 %}
            {% for entity in entities %}
                <tr>
                    <td>{{entity.lote}}</td>
                    <td>{{entity.nombre}}</td>
                    <td>{{entity.palets}}</td>
                    <td>{{entity.total}}</td>
                    {% set total = total + entity.total %}
                    {% set palets = palets + entity.palets %}
                </tr>
            {% endfor %}
            
        </table>
        
        <table>
            <tr>
                <th><h4>Total de Palets</h4></th>
                <th><h4>{{palets}}</h4></th>
            </tr>
            <tr>
                <th><h4>Total de Unidades</h4></th>
                <th><h4>{{total}}</h4></th>
            </tr>
        </table>
        <a class="pdf" href="{{ path('imprimir_stock_actual_lote_fecha_listado_general') }}">Imprimir</a>
    </div>

    
{% endblock %}

    