{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Listar Movimiento por Producto{% endblock %}

{% block body %}
    
    <hr>
    
    <div class="form">
        <form action="{{ path('movimiento_producto_listado_general') }}" method="post">
        {{ form_rest(form) }}
        <input class="submit" type="submit" value="Filtrar"  />
    </div>
    <br /><br /><br />
    
    <div class="grid">
        <table>
            <tr>
                <th>Producto</th>
                <th>Ingresos</th>
                <th>Despachos</th>
                <th>Fraccionados</th>
                <th>Devoluciones</th>
                <th>Bajas</th>
                <th>Total</th>
            </tr>
            {% for entity in entities %}
                {% set total = 0 %}
                <tr>
                    <td>{{entity.producto}} </td>
                    <td>{{entity.ingresos}} {% set total = total + entity.ingresos %}</td>
                    <td>{{entity.despachos}} {% set total = total - entity.despachos %}</td>
                    <td>{{entity.fraccionado}} {% set total = total - entity.fraccionado %}</td>
                    <td>{{entity.devolucion}} {% set total = total + entity.devolucion %}</td>
                    <td>{{entity.bajas}} {% set total = total - entity.bajas %}</td>
                    <th>{{ total }}</th>
                </tr>                
            {% endfor %}
            
        </table>
        
        <a class="pdf" href="{{ path('imprimir_movimiento_producto_listado_general')}}">Imprimir</a>
    </div>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

    