{% extends "NossisBundle::layout.html.twig" %}

{% block title %} Ingresar los Permisos {% endblock %}

{% block fos_user_content %}
        {% if error %}
                    {% if "Bad credentials." in (error|trans({}, 'FOSUserBundle')) %}
                        <div class="alert alert-danger alert-error">El usuario o contraseña fueron mal ingresados</div>
                    {% else %}
                        <div class="alert alert-danger alert-error">{{error|trans({}, 'FOSUserBundle')}}</div>
                    {% endif %}
        {% endif %}
        <div class="form">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">{{ 'Usuario'|trans }}</label>
                <input type="text" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">{{ 'Contraseña'|trans }}</label>
                <input type="password" name="_password" required="required" />

                <input class="submit" type="submit" id="_submit" name="_submit" value="{{ 'Ingresar'|trans }}" />
            </form>
        </div>
{% endblock fos_user_content %}