{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Resumen Ingresos y Egresos Envases {% endblock %}

{% block body %}
    
    <div class="form">
        {{ form(filtro_form) }}
    </div>
    <hr>
    <div class="grid">
        <table>
            {% for entity in entities %}
                
                    <tbody>
                <tr>
                    <th align="left">Ingreso</th>
                    <th width="200px">{{entity.fecha | date('d/m/Y')}}</th>
                    <th width="200px">{{entity.envase.identificador}}</th>
                    <th width="200px">{{entity.lote}}</th>
                     <th width="200px">{{entity.cantidad}}</th>                    
                    <th width="200px">{{entity.cantidad}} {{entity.envase.unidad}}</th>
                </tr>
                    </tbody>
                {% set total = entity.cantidad %}
                {% if entity.retiros | length > 0 %}
                    <tbody>
                    <th></th>
                    <th></th>
                    <th align="left">Fecha</th>
                    <th align="left">Retiro</th>
                    <th align="left">Lote Destino</th>
                    <th align="left">Stock Restante</th>
                    </tbody>
                {% endif %}
                {% for retiro in entity.retiros %}
                    {% set total = total - retiro.cantidad %}
                    <tr>
                        <td colspan="2" width="200px">Retiro</td>
                        <td width="200px">{{retiro.fecha | date('d/m/Y')}}</td>                    
                        <td width="200px">{{retiro.cantidad}}</td>
                        <td width="200px" >{{retiro.loteDestino}}</td>
                        <td width="200px">{{total}} {{entity.envase.unidad}}</td>
                    </tr>
                 {% endfor %}
                 
            {% else %}
                <tr>
                    <td>No hay ingreso de envases en la fechas seleccionadas</td>
                </tr>
            {% endfor %}
            </table>
            <a class="pdf" href="{{ path('envase_resumen_imprimir') }}">Imprimir</a>
    </div>

    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(filtro_form) }}
    
    {% block stylesheets %} 
            {{ form_stylesheet(filtro_form) }}
    {% endblock %}
{% endblock %}
    
