{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Envase Ingreso{% endblock %}

{% block body -%}
    <h1>Lista de Ingresos de Envases</h1>
    <hr>
    <div class="container">
        
        <br/>
        <div class="grid">
            <ul><li>
            <a href="{{ path('envase_ingreso_new', { 'id' : envase.id}) }}">
                Ingresar Envases
            </a></li>
            <li><a href="{{ path('envase') }}">
                Volver al Stock
            </a></li></ul>
            <table>
                <thead>
                    <tr>
                        <th>Lote</th>
                        <th>Fecha</th>
                        <th>Identificador</th>
                        <th>Nombre</th>
                        <th>Proveedor</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.lote }}</td>
                        <td>{{ entity.fecha | date('d/m/Y') }}</td>
                        <td>{{ entity.envase.identificador }}</td>
                        <td>{{ entity.envase.nombre }}</td>
                        <td>{{ entity.empresa }}</td>
                        <td>{{ entity.total }}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('envase_ingreso_show', { 'id': entity.id }) }}">Ver</a>
                            </li>
                            <li>
                                <a href="{{ path('envase_ingreso_edit', { 'id': entity.id }) }}">Editar</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endblock %}
