<html>
    <head>
        <meta charset="UTF-8" />
        <title>NossisBPM |{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('bundles/nossis/css/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/nossis/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/nossis/css/bootstrap-responsive.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/nossis/css/estilo.css') }}" rel="stylesheet" type="text/css" />
        <script src="{{ asset('bundles/nossis/js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ asset('bundles/nossis/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/nossis/js/jquery-ui.js') }}"></script>
        <script src="{{ asset('bundles/nossis/js/confirmar.js') }}"></script>
        <script src="{{ asset('bundles/nossis/js/mensaje.js') }}"></script>
        <script src="{{ asset('bundles/nossis/js/fieldsetcolapsable.js') }}"></script>
        <script>
            window.onload = function() {
                setFocus();
                construirFieldSetColapsables();
            }
        </script>
                
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">NossisBPM</a>
                    <div class="nav-collapse">
                        {{ knp_menu_render('NossisBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'NossisBundle:Menu:knp_menu.html.twig'}) }}
                    </div>
                </div>
            </div>
        </div>
            
        
            <div class="botones">
                {% block botonera %}
               
                {% endblock %}
            </div>
            
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
            
            {% set mensajes = app.session.flashbag.get('mensaje_ok') %}
            {% if mensajes | length > 0 %}
                <div class="mensajes_ok">
                    {% block mensajes_ok %}
                        {% for flashMessage in mensajes %}
                            <div class="flash-notice">
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
           {% endif %}
        {% block body %}
            
        {% endblock %}
            
        {% block javascripts %}{% endblock %}
    </body>
</html>
