{% extends "NossisBundle::layout.html.twig" %}

{% block title %}Ingresar Stock{% endblock %}


{% block body %}
<hr>
    <div class="panel-ingresar">
        <div class="form">
            <form action="{{ path('agregar_stock') }}" method="post">
                {{ form_rest(form) }}            
                <input class="submit" type="submit" value="Ingresar"  />
            </form>
        </div>
        <div class="tabla-hoy">
            <div class="datagrid">
            <h3>Ultimos Ingresos</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Producto</th>
                            <th>Lote</th>
                            <th>Palet</th>
                            <th>Turno</th>
                            <th>Area</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for ultimo in ultimos %}
                            {% if first %}
                                {% set first = false %}
                                    <tr class="datagrid-agregado">
                                {% else %}
                                    <tr>
                                {% endif %}
                                        <td>{{ ultimo.cantidad }}</td>
                                        <td class="datagrid-producto">{{ ultimo.producto }}</td>
                                        <td>{{ ultimo.lote }}</td>
                                        <td>{{ ultimo.palet }}</td>
                                        <td>{{ ultimo.turno }}</td>
                                        <td class="datagrid-area">{{ ultimo.area }}</td>
                                        <td class="datagrid-fecha">{{ ultimo.fechaIngreso | date('d/m/y h:m') }}</td>
                                    </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<hr>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
    <script>
        function setFocus()
        {
            document.getElementById("nossis_nossisbundle_stock_lote").focus();
        }
    </script>
    {% block stylesheets %} 
            {{ form_stylesheet(form) }}
    {% endblock %}
{% endblock %}
    
    