{% extends "NossisBundle::layout.html.twig" %}

{% block title %} Stock {{ stock.numero }}{% endblock %}

{% block botonera %}    
       
        <a class="boton-blue" id="btt-1" href="{{ path('trazladar_stock', { 'id': stock.id})}}">Trazladar</a>
        <a class="boton-blue" id="btt-3" href="{{ path('index_fraccionar', { 'id': stock.id})}}">Fraccionar</a>
        <a class="boton-blue" id="btt-3" href="{{ path('editar_stock', { 'id': stock.id})}}">Editar</a>
        {% if stock.area.destruccion and stock.actual > 0 %}
            <a class="boton-blue" id="btt-3" href="{{ path('destruccion_new', { 'id': stock.id})}}"/>Destruir</a>
        {% endif %}    
       
{% endblock %}
{% block body %}
    
    </br></br>
    <h3>Stock {{ stock.numero }} - <a class="imprimir" href="{{ path('imprimir_stock', { 'id': stock.id}) }}">Imprimir</a></h3>
    <hr class="hr3-inicio">
    <div class="show">
        <div class="grid">
            <table>
                <thead>
                    <tr>
                        <th>Origen:</th>
                        {% if stock.origenfraccionado is not null %}
                            <td>Fraccionado - <a href="{{ path('show_fraccionar', {'id' : stock.origenfraccionado.id}) }}">Ver</a></td>
                        {% else %}
                            <td>Produccion</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Producto:</th><td>{{ stock.producto.nombre }}</td>                    
                    </tr>
                    <tr>
                        <th>Cantidad Ingresada:</th><td> {{ stock.ingresado}}</td>
                    </tr>
                    <tr>
                        <th>Lote:</th><td> {{ stock.lote}}</td>
                    </tr>
                    <tr>
                        <th>Ubicacion:</th><td>Area {{stock.area.nombre}}</td>
                    </tr>
                    <tr>
                        <th>Cantidad Restante:</th><td> {{stock.actual}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Envasado:</th>
                        <td> {{stock.fechaenvasado | date('d/m/y')}}</td>
                    </tr>
                    <tr>
                        <th>Fecha Ingreso:</th>
                        <td> {{stock.fechaingreso | date('d/m/y h:m A')}}</td>
                    </tr>
                    <tr>
                        <th>Palet:</th>
                        <td> {{stock.palet}}</td>
                    </tr>
                    <tr>
                        <th>Turno:</td>
                        <td> {{stock.turno}}</td>
                    </tr>
                    <tr>
                        <th>Codigo:</td>
                        <td><span class="show-barcode"><img alt="[barcode]" src="{{ asset(barcode_url) }}"></span></td>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
     </div>
     
        <h3 class="h3-stock">Historia</h3>
        <hr class="hr3-inicio">
        <div class="datagrid">

            <table>
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                {% if (stock.estados | length) == 0 %}
                    <tr>
                        <td class="show-stock-estados-nombre">No hay Registros</td>
                    </tr>
                {% endif %}
                {% for estado in stock.estados %}
                    <tr>
                        <td class="show-stock-estados-nombre">{{ estado.estado }}</td>
                        <td>{{ estado.fecha | date('d-m-y h:i a') }}</td>
                        <td class="show-stock-estados-detalle">{{ estado.descripcion }}</td>
                    </tr>
                {% endfor %}
            </table>
         </div>
            
        <h3 class="h3-stock">Fraccionados</h3>
        <hr class="hr3-inicio">
        <div class="datagrid">

            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Destino</th>
                    </tr>
                </thead>
                {% if (stock.fraccionados | length) == 0 %}
                    <tr>
                        <td class="show-stock-estados-nombre">Sin Fraccionamiento</td>
                    </tr>
                {% endif %}
                {% for fraccionado in stock.fraccionados %}
                    <tr>
                        <td>{{ fraccionado.fecha | date('d/m/y h:m A') }}</td>
                        <td>{{ fraccionado.cantidad }}</td>
                        {% if fraccionado.stockDestino is null and fraccionado.loteDestino is null %}
                        <td>Todavia sin destino - <a href=" {{ path('fraccionar_stock', { 'id' : fraccionado.id }) }}">Ingresar Stock</a> - <a href=" {{ path('fraccionar_lote_stock', { 'id' : fraccionado.id }) }}">Ingresar Lote</a>
                        {% else %}
                            {% if fraccionado.stockDestino is not null %}
                            <td>{{ fraccionado.stockDestino }} - <a href="{{ path('show_stock', {'id' : fraccionado.stockDestino.id}) }}">Ver</a>
                            {% else %}
                            <td>Lote {{ fraccionado.loteDestino }}
                            {% endif %}
                        {% endif %}
                        - <a class="text-red" onclick="confirmar('¿Esta seguro de querer cancelar el fraccionado?','{{ path('fraccionar_delete', { 'id' : fraccionado.id})}}')" href="#"> Eliminar </a>
                    </tr>
                {% endfor %}
            </table>
         </div>
        
        <h3 class="h3-stock">Despachos</h3>
        <hr class="hr3-inicio">
        <div class="datagrid">

            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Nro. Orden</th>
                        <th>Cliente</th>
                        <th>Transportista</th>
                        <th>Confirmado</th>
                        <th>Acciones</th>
                        
                    </tr>
                </thead>
                {% if (stock.retiros | length) == 0 %}
                    <tr>
                        <td class="show-stock-estados-nombre">Sin Dispachos</td>
                    </tr>
                {% endif %}
                {% for retiro in stock.retiros %}
                    <tr>
                        <td>{{ retiro.retiro.fechasalida | date('d/m/y h:m A') }}</td>
                        <td>{{ retiro.cantidad }}</td>
                        <td>{{ retiro.retiro.nroorden }}</td>
                        <td>{{ retiro.cliente }}</td>
                        <td>{{ retiro.retiro.transportista }}</td>
                        <td class="grid-column-confirmado align-center">
                            <span class="grid_boolean_{{ retiro.retiro.stringconfirmado }}">{{ retiro.retiro.stringconfirmado }}</span>
                        </td>
                        <td>
                            <a href="{{ path('edit_retiro', { 'id' : retiro.retiro.id }) }}">Ver</a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </table>
         </div>
                
        <h3 class="h3-stock">Devoluciones</h3>
        <hr class="hr3-inicio">
        <div class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Cliente</th>
                        <th>Motivo</th>
                        <th></th>
                    </tr>
                </thead>
                {% for retiro in stock.retiros %}
                    {% for devolucion in retiro.devoluciones %}
                    <tr>
                        <td>{{ devolucion.fecha | date('d/m/y h:m A') }}</td>
                        <td>{{ devolucion.cantidad }}</td>
                        <td>{{ retiro.cliente }}</td>
                        <td>{{ devolucion.motivo }}</td>
                        <td>
                            <a href="{{ path('mostrar_devolucion', { 'id' : devolucion.id }) }}">Ver</a>
                            &nbsp; &nbsp;<a href="#" onclick="confirmar('¿Esta seguro de que desea borra?','{{ path('eliminar_devolucion', { 'id' : devolucion.id, 'id_stock' : stock.id }) }}')">Eliminar</a></td>
                        </td>
                        
                    </tr>
                    {% endfor %}
                {% endfor %}
                
            </table>
         </div>
                
        <h3 class="h3-stock">Destruccion</h3>
        <hr class="hr3-inicio">
        <div class="datagrid">
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cantidad</th>
                        <th>Motivo</th>
                        <th></th>
                    </tr>
                </thead>
                {% for des in stock.destrucciones %}
                    <tr>
                        <td>{{ des.fecha | date('d/m/y h:m A') }}</td>
                        <td>{{ des.cantidad }}</td>
                        <td>{{ des.motivo }}</td>
                        <td></td>
                    </tr>
                {% endfor %}                
            </table>
         </div>
         </br>
{% endblock %}
